<form action="">
	<select name="category" id="category">
		<option value="null">{{'category'|trans}}</option>
		{% for category in categories %}
		    <option value="{{category.id}}">{{category.name}} </option>
		{% endfor %}
	</select>
	<input type="text">
	<button type="submit"><i class="icon-search"></i> {{'search'|trans}}</button>
</form>