{#shoplist.html.twig#}
<ul>
	{% for mag in shop %}
	    <li>
	    	<a href="{{path("shop_show_details",{"slug":mag.slug})}} "><img src="{{mag.logo}} " class="img-responsive" alt=""></a></li>
	{% endfor %}
</ul>