{% extends 'front.html.twig' %}
{% block description %}{{category}}{% endblock %}
{% block keywords %}{% endblock %}
	
{% block body %}
	<h1 class="text-center"> {{category}} </h1>
	{{ include('front/shop/shop_content.html.twig') }}
{% endblock %}