{% extends 'front.html.twig' %}
{% block body %}
	{{ include('front/shop/shop_content.html.twig') }}
{% endblock %}

{% block banderole %}
	{% for mag in shop %}
	    
	  <div class="tab-pane {% if loop.first %}active{% endif %}">
	  	<a href="{{path("shop_show_details",{"slug":mag.slug})}} ">
	  		<img src="{{mag.cover}} " alt="cover">
	  	</a>
	  </div>

	{% endfor %}
{% endblock %}

{% block javascripts %}
    <script>
    	var myIndex = 0;
		function carousel() 
		{
		    var i;
		    var x = document.getElementsByClassName("tab-pane");
		    for (i = 0; i < x.length; i++) {
		       x[i].style.display = "none";  
		    }
		    myIndex++;
		    if (myIndex > x.length) {myIndex = 1}    
		    x[myIndex-1].style.display = "block";  
		    setTimeout(carousel, 3000); // Change image every x seconds

		}

		carousel();
    </script>
{% endblock %}
